<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Make Friends</title>
</head>
<body>
    <div class="wreper">
        <div class="body-aria">
            <div class="nav">
                <h4>Make Friends</h4>
            </div>

            <div class="hero">
                <img src="./15934.jpg">
            </div>

            <div class="friends-info">
                <h3>FRIENDS INFO</h3>

                <div class="input-group">
                    <label>Age</label>
                    <input placeholder="Input Birth year">
                </div>

                <div class="input-group">
                    <label>Height</label>
                    <input placeholder="5 Fit">
                </div>

                <div class="input-group">
                    <label>Gender</label>
                    <input placeholder="GP">
                </div>

                <div class="input-group">
                    <label>Mobile Operator</label>
                    <input placeholder="GP">
                    <!-- <input placeholder="Banglalink">
                    <input placeholder="Roi">
                    <input placeholder="Taletuck"> -->
                </div>

                <div class="input-group">
                    <label>Division</label>
                    <input placeholder="Barishal">
                    <!-- <input placeholder="Banglalink">
                    <input placeholder="Roi">
                    <input placeholder="Taletuck"> -->
                </div>                
                <button>Geared Friends</button>
            </div>
        </div>
    </div>
</body>
</html>