<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h3>CART TITTLE ONE</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus sunt suscipit laudantium illum alias aliquid, asperiores magnam assumenda accusantium cum?</p>
            <button>Click Hare</button>

            <span>1</span>
        </div>
        <div class="box">
            <h3>CART TITTLE TWO</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus sunt suscipit laudantium illum alias aliquid, asperiores magnam assumenda accusantium cum?</p>
            <button>Click Hare</button>

            <span>1</span>
        </div>
        <div class="box">
            <h3>CART TITTLE THREE</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus sunt suscipit laudantium illum alias aliquid, asperiores magnam assumenda accusantium cum?</p>
            <button>Click Hare</button>

            <span>1</span>
        </div>
    </div>
</body>
</html>