h1, h2, h3, h4, h5, h6, a, p{
    padding:0;
    margin: 0;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;  
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid #919191;
    border-width: 0 0 1px 0;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

/* web layout - flex box */

.main-div{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:0.3fr 1fr 1fr 0.4fr;
    grid-template-areas: "nav nav nav nav"
                          "side main main main"
                          "side box-1 box-2 box-3"
                          "side footer footer footer";
    gap: 10px;
}


.fast{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    grid-area: nav;
}
.side-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 199, 255);
    text-align: center;
    grid-area: side;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(13, 252, 188);
    text-align: center;
    grid-area:main;
}
.box-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 13, 13);
    text-align: center;
    grid-area:box-1;
}
.box-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 97, 97);
    text-align: center;
    grid-area:box-2;
}
.box-3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(249, 147, 147);
    text-align: center;
    grid-area:box-3;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(163, 255, 50);
    text-align: center;
    grid-area:footer;
}


@media screen and (max-width: 792px){
    .main-div{
        grid-template-columns: 1fr;
        grid-template-rows: .4fr 1fr 1fr .5fr .5fr .3fr .6fr;
        grid-template-areas:"nav"
        "side" "main" "box-1" "box-2" "box-3" "footer"; 
        gap: 5px;
    }
}



/* noice-page */

.body{
    background-color: rgb(240, 240, 240);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box{
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.content-box .top-content{
    display: flex;
    align-items: center;
}

.content-box .top-content h4{
    margin: 0 8px;
}

.content-box p{
    padding: 10px 0 5px 0;
    font-weight: 200;
    color:#6d6d6e;
}

.content-box span{
    line-height: 1.7;
    color: rgb(158, 137, 255);
    text-decoration: underline;
}

.content-box .footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-box .footer-content h5{
    font-size: 12px;
    font-weight: 100;
    text-decoration: underline;
}

.content-box .footer-content button{
    padding: 8px 16px;
    border-style: none;
    background-color: black;
    color: white;
    border-radius: 8px;

}


/* order-page */

.order-content-box{
    width: 280px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.order-content-box .icon-box{
    background-color: bisque;
    width: fit-content;
    height: 50px;
    width: 50px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.order-content-box .icon-box .icon{
    font-size: 30px;
}

.order-content-box h4{
    padding: 10px 0;
    font-weight: 600;
    color: #076128;
}

.order-content-box p{
    text-align: center;
    margin-bottom: 13px;
    color: #5f5f5f;
}

.order-content-box button{
    width: 100%;
    margin: 6px 0;
    padding: 8px;
    border-style: none;
    background-color: transparent;
}

.order-content-box .fill{
    background-color: #1CA06F;
    color: white;
    font-weight: 100;
}

.order-content-box .outline{
    border: 1px solid #1CA06F;
    color: #1CA06F;
}

.order-content-box .close-icon{
    border: 1px solid #1CA06F;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    position: absolute;
    right: 20px;

}

.order-content-box .close-icon .img{
    font-size: 25px;
    margin-top: 2.5px;
}

/* heading-page */

.heading-content-box{
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    position: relative;
}
.heading-content-box h3{
    font-weight: 200;
    color: rgb(98, 98, 98);
}

.heading-content-box p{
 font-size: 15px;
 line-height: 1.4;
 font-weight: 100;
 color: rgb(98, 98, 98);
 padding: 10px 0;
}

.heading-content-box .heading-icon{
    background-color: #098493;
    width: fit-content;
    padding: 6PX 12PX;
    position: absolute;
    top:0;
    right:0;
    border-radius: 0 4px 0 99px;
}

.heading-content-box .heading-icon .img{
    font-size: 20px;
    color: #fff;
}


/* Star-page */

.star-content-box{
    width: fit-content;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    position: relative;
}

.star-content-box h2{
    font-size: 30px;
    font-weight: 100;
    color: #425173;
}

.star-content-box p{
    padding: 8px 0;
    color: #425173;
}

.star-content-box .price h1{
    padding: 10px 0;
    font-size: 40px;
    font-weight: 100;
}

.star-content-box .price h1 span{
    font-size: 20px;
    color: #425173;
}

.star-content-box button{
    width: 100%;
    padding: 12px;
    margin: 10px 0 0 0;
    background-color: black;
    color: white;
    border-radius: 99px;
    border-style: none;
}