*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup{
    width: 550px !important;
    position: absolute ;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(.2);
    visibility: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    & button{
        color: #fff;
        font-weight: 600;
    }
    & button:hover{
        color: #fff;
    }

    
}

.open{
    transform: scale(1);
    visibility: visible;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-image{
    height: 250px;
    width:250px ;
    border-radius: 999px;
    display:block;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}