*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup{
    width: 550px !important;
    position: absolute ;
    top:0;
    left: 33%;
    transform: scale(.2);
    visibility: hidden;
    & button{
        color: #fff;
        font-weight: 600;
    }
    & button:hover{
        color: #fff;
    }
}

.open{
    transform: scale(1);
    visibility: visible;
    top: 25%;
}